*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 10pt;
}

#root {
  display: flex;
  min-height: 100vh;
}

@keyframes border-pulse {
  0% {
    border-color: #ddc;
  }
  100% {
    border-color: #556;
  }
}

@keyframes opacity-pulse {
  0% {
    filter: opacity(50%);
  }
  100% {
    filter: opacity(100%);
  }
}
